<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hello <%= @user.first_name %>. Welcome to MedApp.</h1>
    <p>Please click on the url below to confirm your registration.</p>
    <p><%= link_to "Activate your account.", confirm_email_api_v1_user_confirmation_url(@user.confirmation_code)%></p>
    </br>
    <p>Your QR Code Address: <%=@user.provisioning_uri%></p>

  </body>
</html>