<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hello <%= @user.first_name %>.</h1>
    <p>Please click on the url below to reset your password.</p>
    <p><a href='https://medapp.com/reset_password'>Reset your password.</a></p>
  </body>
</html>